body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-shadow: #fff;
}
.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(78, 65, 65, 0.719), rgba(2, 0, 0, 0.555)),
    url(images/donation11.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  text-align: center;
}
.banner h1 {
  font-size: 100px;
  color: #fff;
  padding-bottom: 5px;
}

.banner p {
  font-size: 30px;
  color: #fff;
  padding-bottom: 60px;
}
.button {
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  background: linear-gradient(60deg, lightsalmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
}
.donet-amount-section {
  margin-bottom: 60px;
  text-align: center;
  display: block;
}
.amount-heading h1 {
  font-size: 60px;
  color: black;
  padding-top: 80px;
}
.amount-heading p {
  font-size: 30px;
  color: rgb(75, 73, 73);
}
.donate-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.donate-box-amount {
  padding: 25px 15px;
  background: rgba(187, 182, 182, 0.356);
  margin: 0 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.donate-box-amount a {
  color: rgba(46, 39, 39, 0.603);
  font-weight: 600;
  padding: 15px 10px;
  text-decoration: none;
}
#active-donate {
  border: 2px solid rgb(204, 173, 163);
  background-color: rgb(238, 238, 238);
}
#active-donate-a {
  color: rgb(182, 129, 31);
  font-weight: 600;
}
.donate-input {
  text-align: center;
}

.donate-input-item {
  width: 500px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px 0;
  border-bottom: 1px solid rgba(228, 222, 222, 0.795);
  outline: none;
  padding-left: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.donate-planning {
  margin-bottom: 60px;
  display: block;
}

.planning-haeder h1 {
  font-size: 60px;
  color: black;
  padding-top: 80px;
}
.planning-haeder p {
  font-size: 30px;
  color: rgb(75, 73, 73);
}
.donet-planning-card {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.planning-card {
  width: 400px;
  height: 450px;
  padding: 40px 0 30px 20px;
  background: rgb(240, 237, 238);
  margin: 0 10px;
  border-radius: 5px;
}
#planning-card-active {
  background-color: rgb(240, 230, 185);
}
.planning-card h1 {
  font-size: 40px;
  color: black;
  padding-bottom: 20px;
  font-weight: 600;
}
.planning-card p {
  font-size: 25px;
  color: rgb(75, 73, 73);
  padding-right: 30px;
}
.planning-card img {
  width: 20%;
  padding-bottom: 30px;
}
.update-subscribe {
  margin-bottom: 60px;
  text-align: center;
  display: block;
}

.update-haeder h1 {
  font-size: 60px;
  color: black;
  padding-top: 80px;
}
.update-haeder p {
  font-size: 30px;
  color: rgb(75, 73, 73);
}
.subscribe-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}
.subscribe-content {
  background: rgb(247, 238, 217);
  width: 800px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-input {
  width: 300px;
  height: 40px;
  outline: none;
  padding-left: 10px;
  border: none;
}

.subscribe-button {
  outline: none;
  height: 40px;
  padding: 0 30px;
  background-color: rgb(175, 99, 36);
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.help-section {
  display: inline;
}
.help-section-conainer {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.help-section-box {
  display: flex;
  justify-content: center;
  margin: 30px;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 6px -2px,
    rgb(0 0 0 / 30%) 0px 3px 4px -3px;
}
.help-section-box-one {
  display: block;
}
.help-section-box-two {
  width: 300px;
  height: 400px;
  background-color: rgb(235, 223, 223);
  padding: 15px 15px 0 15px;
  text-align: left;
}
.help-section-box-two p {
  padding-bottom: 40px;
  word-spacing: 2px;
  color: rgba(0, 0, 0, 0.678);
}
.help-section-box-one img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.help-button {
  padding: 10px 20px;
  background: orange;
  color: #fff;
  text-decoration: none;
}

.footer {
  height: 200px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content h1 {
  color: crimson;
  font-style: italic;
  padding-bottom: 30px;
  font-family: "Satisfy", cursive;
}
.footer-content h3 {
  font-weight: 300;
  font-size: 1rem;
  color: rgba(236, 218, 218, 0.63);
}
